/* --- Fonts --- */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype'),
        url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Bold.eot');
    src: url('../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Italic.eot');
    src: url('../fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* --- The Goods --- */
body {
    min-width: 400px;
}
header {
    width: 100%;
    height: 117px;
    position: fixed;
    top: 0px;
    background: white;
    box-shadow: 0 1px 4px lightgray;
    z-index: 10;
}
header div {
    min-width: 400px;
    max-width: 1240px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
}
a {
    text-decoration: none;
}
nav {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    order: 3;
}
h1{
    font-family: "playfair", serif;
    font-weight: normal;
    font-size: 36px;
    color: white;
    line-height: .95;
    text-shadow: 2px 2px 4px gray;
    text-align: center;
    padding: 20px 20px 100px 20px;
    margin: 0 auto;
    width: 90%;
}
h2{
    font-family: "playfair", serif;
    font-weight: normal;
    font-style: italic;
    color: #2d2d2d;
    font-size: 32px;
    text-align: center;
    padding: 10px 0;
}
.subscribe h2 {
    color: white;
    text-shadow: 2px 2px 4px gray;
    margin: 32px 0 11px 0;
}
h3{
    font-family: "raleway", sans-serif;
    font-weight: "500";
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 150px;
    text-shadow: 2px 2px 4px gray;
}
p {
    color: #2d2d2d;
    font-family: "raleway", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
    font-weight: light;
    text-align: center;
}
.subscribe p{
    color: white;
    font-size: 16px;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
}
.container {
    margin: 0 auto;
}
.bold{
    font-family: "playfair";
    font-weight: bold;
    font-style: normal;
}
.target {
    outline: none;
}
.logo {
    margin: 15px auto 10px 10px;
    order: 1;
}
.cart-icon{
    margin: 15px 10px 10px auto;
    order: 2;
}
.menu {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 14px 35px;
    border-top: 1px solid #d7d7d7;
}
.page {
    margin: 0 10px;
    display: inline-block;
}
.page a {
    color: #e2574c;
}
.page a:hover {
    color: #b64036;
}
.hero {
    margin-top: 100px;
}
.feature {
    height: 405px;
    background:  linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), 
    url(../images/banner-girl.png) no-repeat center 62px,
    url(../images/flower-bkgd.jpg);
    background-size: cover, 150px 369px, cover;
}
.blurb{
    margin: 45px 10px;
    height: 177px;
}
.blurb .container {
    max-width: 720px;
}
.blurb p {
    font-size: 16px;
    padding: 16px 0;
}
.grid {
    display: grid;
    height: 192vw;
    width: 100%;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    grid-gap: 7px;
}
.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-text {
    font-family: "raleway", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 2px dimgray;
    text-transform: uppercase;
    text-align: center;
}
.grid-text:hover {
    color: rgb(250, 243, 208);
}
.mens {
    background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url(../images/mens-category.jpg);
    background-size: cover;
    grid-area: 1 / 1 / 2 / 3;
}
.trends {
    background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url(../images/trends-category.jpg);
    background-size: cover;
}
.glasses {
    background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url(../images/glasses-category.jpg);
    background-size: cover;
}
.sale {
    background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url(../images/sale-category.jpg);
    background-size: cover;
}
.bags {
    background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url(../images/bags-category.jpg);
    background-size: cover;
}
.womens {
    background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url(../images/womens-category.jpg);
    background-size: cover;
    grid-area: 4 / 1 / 5 / 3;
}
.carousel {
    height: 730px;
}
.carousel h2 {
    padding: 65px 0;
}
.carousel-cell {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.carousel-cell img {
    padding: 10px;
    margin: 0 auto;
}
.carousel-title {
    font-family: "playfair";
    font-size: 1.25rem;
    color: #e2574c;
}
.carousel-description {
    font-size: .7rem;
    color: #969696;
    text-transform: uppercase;
    font-weight: 500;
}
.carousel-price {
    color: #969696;
    text-transform: uppercase;
    font-weight: 500;
}
.subscribe {
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url(../images/wave-bkgd.jpg);
    background-size: auto 880px;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 331px;
    color: white;
    padding: 15px;
}
.subscribe .container {
    max-width: 720px;
}
.subscriber-email {
    margin: 0 auto;
    position: relative;
    max-width: 450px;
    padding: 28px 10px;
}
.subscriber-email .email-input {
    font-family: "raleway";
    font-weight: 300;
    display: block;
    border: none;
    border-radius: 22px;
    padding: 13px 20px;
    margin: 0 auto;
    width: 100%;
}
.subscriber-email .email-input:focus {
    outline: none;
    box-shadow: 0px 0px 4px #2d2d2d;
}
.subscriber-email .button {
    font-family: "raleway";
    font-weight: 500;
    border: none;
    border-radius: 20px;
    background-color: #e2574c;
    color: white;
    padding: 10px 23px;
    margin: 2px;
    position: absolute;
    right: 11px;
    top: 29px;
    outline: none;
}
.subscriber-email .button:hover {
    background-color: #b64036;
}
footer {
    background-color: #242424;
    color: white;
    margin-top: 8px;
    padding: 30px 0;
}
footer div.container {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
}
footer p {
    font-family: "playfair";
    line-height: 1.5;
}
.legal {
    color: white;
}
.contact {
    color: white;
    /* padding: 10px 0; */
    margin: 20px 0;
}
.contact a {
    color: white;
    text-decoration: underline;
}
.contact a:hover {
    color: #e2574c
}
.address {
    color: #969696;
}
.social {
    font-family: "raleway";
    font-weight: 300;
    padding: 25px;
    margin: 0 auto;
}
.fab {
    display: inline-block;
    width: 25px;
}
.social li a {
    color: white;
}
.social li a:hover {
    color: #e2574c;
}
.social-words {
    display: none;
}

/* --- Tablet or Desktop Response --- */

@media all and (min-width: 600px) {

    p {
        font-size: 16px;
    }
    p.body-text {
        font-size: 18px;
    }
    h2 {
        font-size: 38px;
        padding-top: 18px;
    }
/* --- Header Response --- */

    header {
        height: 84px;
        flex-flow: row nowrap;
    }
    .cart-icon {
        order: 3;
        padding-left: 70px;
    }
    nav {
        order: 2;
    }
    .menu {
        text-align: center;
        padding: 39px 0 14px 0;
        border-top: none;
    }
/* --- Feature Response --- */
    
    h1 {
        font-size: 48px;
    }
    h3 {
        font-size: 20px;
        padding-top: 160px;
    }
    .hero {
        margin-top: 79px;
    }

/* --- Grid Response --- */

    .grid {
        height: 50vw;
        width: 100%;
        grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    }
    .mens {
        grid-area: 1 / 1 / 2 / 3;
    }
    .womens {
        grid-area: 2 / 3 / 3 / 5;
    }

/* --- Carousel Response --- */

    .carousel-cell {
        width: 50%;
    }
/* --- Subscribe Response */

    .subscribe {
        height: 380px;
    }
    .subscriber-email .email-input {
        font-size: 16px;
    }
    .subscriber-email .button {
        font-size: 16px;
    }
/* --- Footer Response --- */

    footer {
        height: 287px;
    }
    footer div.container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .info p {
        text-align: left;
    }
    .social {
        margin: 0;
    }
    .social li {
        display: block;
        padding: 8px 0;
    }
    .social-words {
        display: inline;
    }
}

@media all and (min-width: 1240px) {
    
    .carousel-cell {
        width: 25%;
    }
}